/* suggestions.css */
.movie-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.movie-card {
    width: 300px;
    margin: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
}

.movie-image {
    width: 200px;
    height: 300px;
    object-fit: cover;
    cursor: pointer;
}

.movie-details {
    margin-top: 10px;
}

.movie-title {
    font-weight: bold;
}

.movie-info {
    margin-top: 5px;
}

.movie-rating {
    margin-top: 10px;
    font-weight: bold;
}

.pagination {
    margin-top: 20px;
}

.error-message {
    color: red;
    font-weight: bold;
}
