<!DOCTYPE html>
<html>
<head>
    <title>Movie Suggestions</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='suggestions.css') }}">
    <style>
        .movie {
            display: flex;
            margin-bottom: 20px;
        }
        .movie img {
            width: 100px;
            height: 150px;
            margin-right: 10px;
        }
        .movie-info {
            display: flex;
            flex-direction: column;
        }
        .movie-title {
            font-weight: bold;
            font-size: 18px;
        }
        .movie-rating {
            font-size: 16px;
            color: #666;
        }
    </style>
</head>
<body>
    <h1>Movie Suggestions</h1>
    {% if suggestions %}
        {% for movie in suggestions %}
            <div class="movie">
                <img src="{{ movie.get('full-size cover url') }}" alt="Movie Poster">
                <div class="movie-info">
                    <p class="movie-title">{{ movie.get('title') }}</p>
                    <p class="movie-rating">Rating: {{ movie.get('rating') }}</p>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <p>No suggestions found.</p>
    {% endif %}
</body>
</html>
